p {
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
}
.classify_title {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #ffffff;
}
.classify_title a {
  width: 0.51851852rem;
  height: 0.88888889rem;
  position: absolute;
  left: 0.85185185rem;
  top: 0.88888889rem;
}
.center {
  width: 100%;
}
.center .fruit_item .integ_ul {
  width: 4.72222222rem;
}
.center .fruit_item .integ_ul .integ_back {
  background: white;
}
.center .fruit_item .integ_ul li {
  width: 4.72222222rem;
  height: 2.59259259rem;
  text-align: center;
  line-height: 2.59259259rem;
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  background-color: #f0f0f0;
  color: #2a2a2a;
}
.center .fruit_item .integ_right {
  background: white;
}
.center .fruit_item .integ_right .recommend {
  margin-top: 0.18518519rem;
  width: 15.18518519rem;
  height: 6.03703704rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center .fruit_item .integ_right .recommend .recommend_fruit {
  width: 3.62962963rem;
  height: 3.62962963rem;
  text-align: center;
  padding-top: 1.01851852rem 0;
  margin-left: 0.92592593rem;
}
.center .fruit_item .integ_right .recommend .recommend_fruit img {
  width: 70%;
  height: auto;
}
.center .fruit_item .integ_right .recommend .addshopcar {
  width: 1.14814815rem;
  height: 1.14814815rem;
  margin-right: 0.55555556rem;
}
.center .fruit_item .integ_right .recommend .addshopcar img {
  width: 100%;
  height: 100%;
}
.center .fruit_item .integ_right .recommend_item {
  position: relative;
  margin-left: -1.85185185rem;
  padding: 0;
  height: 5.18518519rem;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_cate {
  height: 3.33333333rem;
  width: 7.40740741rem;
  position: relative;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_cate div:first-child {
  font-size: 0.66666667rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  padding: 0;
  margin: 0;
  height: 0.74074074rem;
  line-height: 0.74074074rem;
  white-space: nowrap;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_cate div:nth-child(2) {
  font-size: 0.55555556rem;
  letter-spacing: 1px;
  color: #787878;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  height: 0.57407407rem;
  line-height: 0.57407407rem;
  white-space: nowrap;
  top: 1.2962963rem;
}
.center .fruit_item .integ_right .recommend .recommend_item div:last-child img {
  width: 0.66666667rem;
  height: 0.66666667rem;
  position: absolute;
  left: 0;
  top: 2.31481481rem;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_cate div:last-child {
  width: 4.25925926rem;
  height: 0.57407407rem;
  line-height: 0.57407407rem;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_cate div:last-child p {
  position: absolute;
  font-size: 0.55555556rem;
  font-stretch: normal;
  letter-spacing: 0.01851852rem;
  color: #2a2a2a;
  font-family: MicrosoftYaHei;
  top: 2.40740741rem;
  left: 0.64814815rem;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_price {
  position: relative;
  width: 5.55555556rem;
  height: 2.22222222rem;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_price div:first-child {
  font-size: 0.62962963rem;
  letter-spacing: 1px;
  height: 0.51851852rem;
  line-height: 0.51851852rem;
  color: #787878;
  padding: 0;
  margin: 0;
}
.center .fruit_item .integ_right .recommend .recommend_item .recommend_price div:last-child {
  padding: 0;
  margin: 0;
  height: 0.59259259rem;
  line-height: 0.59259259rem;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 0.37037037rem;
  letter-spacing: 0.03703704rem;
  color: #e52323;
}
#oldprice {
  width: 3.05555556rem;
  height: 0.09259259rem;
  background: gray;
  display: block;
  position: absolute;
  top: 0.18518519rem;
}
.center .fruit_item .integ_right .recommend .recommend_item .memberprice div {
  position: absolute;
  left: 0.92592593rem;
  top: 0;
  height: 0.92592593rem;
}
