img {
  width: 100%;
  height: 100%;
}
.mui-content {
  overflow: hidden;
}
#header {
  background: url(../img/nav2.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 2.66666667rem;
  position: fixed;
  z-index: 100;
}
.address {
  position: absolute;
  width: 0.74074074rem;
  height: 0.92592593rem;
  left: 0.74074074rem;
  top: 0.83333333rem;
}
.header_search {
  width: 14.81481481rem;
  height: 1.48148148rem;
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: 0.72222222rem;
  float: right;
  position: absolute;
  top: 0.61111111rem;
  left: 2.59259259rem;
}
.header_search input {
  width: 7.46296296rem;
  height: 1.11111111rem;
  font-size: 0.66666667rem;
  line-height: 1.11111111rem;
  margin-top: 0.18518519rem;
  border: none;
  letter-spacing: 1px;
  background: none;
  margin-left: 1.66666667rem;
}
.header_search input::-webkit-input-placeholder {
  color: white;
}
.header_search i {
  width: 0.83333333rem;
  height: 0.83333333rem;
  background: url(../img/search.png) no-repeat;
  background-size: 100% 100%;
  float: left;
  position: absolute;
  left: 0.74074074rem;
  top: 0.27777778rem;
}
.sign {
  width: 100%;
  height: 1.44444444rem;
  background-color: #fef1c8;
  position: fixed;
  top: 2.66666667rem;
  display: none;
}
.sign p {
  width: 100%;
  height: 0.59259259rem;
  line-height: 0.59259259rem;
  font-size: 0.59259259rem;
  letter-spacing: 0.01851852rem;
  color: #ff8000;
  padding: 0.57407407rem 0 0.27777778rem 0.74074074rem;
  z-index: 100;
}
.sign i {
  position: absolute;
  width: 0.25925926rem;
  height: 0.48148148rem;
  background-color: #787878;
  background: url(../img/next.png) no-repeat;
  background-size: 100% 100%;
  float: right;
  top: 0.46296296rem;
  right: 0.61111111rem;
  bottom: 0.27777778rem;
}
.div_none {
  width: 100%;
  height: 2.66666667rem;
}
.main {
  width: 100%;
}
.main_pic_one {
  width: 100%;
  height: 10rem;
  background-color: #e9dada;
}
.main_pic_one img {
  width: 100%;
  height: 100%;
}
#slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#slider img {
  width: 100%;
  height: 11.48148148rem;
  overflow: hidden;
}
#slider .swiper-container {
  width: 100%;
  overflow: hidden;
}
#slider .swiper-container ul.swiper-wrapper {
  width: 500%;
  -webkit-transform: translate(-20%);
  transform: translate(-20%);
}
#slider .swiper-container ul.swiper-wrapper li {
  width: 20%;
  float: left;
}
#slider .swiper-pagination {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 10.18518519rem;
  background: none;
  text-align: center;
}
#slider .swiper-pagination span {
  display: inline-block;
  width: 0.37037037rem;
  height: 0.37037037rem;
  background: grey;
  border-radius: 50%;
  margin: 0 0.18518519rem;
}
#slider .swiper-pagination span.swiper-pagination-bullet-active {
  background: #fd5e5e;
}
.main .main_nav {
  width: 100%;
  height: 9.55555556rem;
  background-color: #ffffff;
  padding: 0.7037037rem 0.38888889rem;
}
.main .main_nav .nav_li {
  float: left;
  width: 20%;
  height: auto;
  text-align: center;
  padding-bottom: 0.37037037rem;
}
.nav_li_text {
  letter-spacing: 1px;
  color: #2a2a2a;
  font-size: 0.66666667rem;
}
.main .main_nav .nav_li img {
  width: 2.22222222rem;
  height: 2.22222222rem;
  margin: 0 auto;
}
.main_notice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1.88888889rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  background-color: #ffffff;
  margin: 0.18518519rem 0;
}
.main_notice .img_one {
  width: 1.53703704rem;
  height: 1.46296296rem;
}
.main_notice .img_two {
  width: 1.85185185rem;
  height: 1.11111111rem;
}
.main_notice .main_notice_sign {
  height: 1.88888889rem;
  width: 11.11111111rem;
}
.main_notice marquee {
  width: 11.11111111rem;
  height: 1.14814815rem;
  margin-top: 0.37037037rem;
}
.main_notice marquee p {
  width: 100%;
  height: 100%;
  line-height: 1.14814815rem;
  padding: 0;
  margin: 0;
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.01851852rem;
  color: #2a2a2a;
}
.main_notice .main_notice_sign #con1,
#con2 {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.main_notice .main_notice_sign ul li {
  font-size: 0.66666667rem;
  width: 11.11111111rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  padding: 0;
  margin: 0;
  height: 1.88888889rem;
  line-height: 1.88888889rem;
}
.commodity {
  padding: 0.18518519rem 0.44444444rem;
}
.goods_pic {
  width: 100%;
  height: 5.92592593rem;
  background-color: #ffffff;
  border-bottom: 0.5px solid #f8f8f8;
}
.main_pic_four img {
  display: block;
  border-radius: 0.18518519rem;
}
.main .commodity .inner {
  width: 100%;
  overflow: hidden;
  height: 11.07407407rem;
}
.main .commodity .goods_item {
  width: 300% !important;
  height: 11.07407407rem;
  background-color: #ffffff;
}
.main_pic_three .pic {
  width: 9.31481481rem;
  height: 10.62962963rem;
  text-align: center;
  float: left;
}
.main_pic_three .pic .pic_one {
  width: 9.33333333rem;
  height: 7.40740741rem;
  background-color: #f8f8f8;
  display: table-cell;
  vertical-align: middle;
}
.main_pic_three .pic img {
  width: 4.72222222rem;
  height: 4.72222222rem;
  margin: 0 auto;
}
.main_pic_three .pic span {
  width: 2.38888889rem;
  height: 0.53703704rem;
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.88888889rem;
  letter-spacing: 1px;
  color: #e52323;
  text-align: left;
}
.pic_two {
  margin-top: 0.40740741rem;
}
.main_pic_three .pic .pic_two p {
  display: block;
  width: 5.83333333rem;
  height: 0.74074074rem;
  font-size: 0.66666667rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  white-space: nowrap;
}
.pic_three {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#addshopcar {
  width: 0.81481481rem;
  height: 0.81481481rem;
  position: absolute;
  right: 0.37037037rem;
}
#addshopcar img {
  width: 100%;
  height: 100%;
}
.select {
  width: 100%;
  height: 2.22222222rem;
  text-align: center;
  margin-top: 0.18518519rem;
  background-color: #ffffff;
}
.select p {
  font-size: 0.74074074rem;
  color: #2a2a2a;
  padding-top: 0.55555556rem;
  background-color: #ffffff;
}
.recommend {
  margin-top: 0.18518519rem;
  width: 100%;
  height: 6.03703704rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommend .recommend_fruit {
  width: 5.33333333rem;
  height: 4rem;
  text-align: center;
  padding-top: 1.01851852rem 0;
}
.recommend .recommend_fruit img {
  width: 70%;
  height: auto;
}
.recommend .addshopcar {
  width: 1.14814815rem;
  height: 1.14814815rem;
  margin-right: 0.55555556rem;
}
.recommend .addshopcar img {
  width: 100%;
  height: 100%;
}
.recommend_item {
  margin-left: -5.18518519rem;
}
.recommend .recommend_item .recommend_cate {
  height: 2.96296296rem;
  margin-top: 0.18518519rem;
}
.recommend .recommend_item .recommend_cate p:first-child {
  font-size: 0.66666667rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  padding: 0;
  margin: 0;
}
.recommend .recommend_item .recommend_cate p:last-child {
  font-size: 0.55555556rem;
  letter-spacing: 1px;
  color: #787878;
  padding: 0;
  margin: 0;
}
.recommend .recommend_item .recommend_price {
  position: relative;
}
.recommend .recommend_item .recommend_price P:first-child {
  font-size: 0.62962963rem;
  letter-spacing: 1px;
  color: #787878;
  padding: 0;
  margin: 0;
}
.recommend .recommend_item .recommend_price P:last-child {
  padding: 0;
  margin: 0;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #e52323;
}
#oldprice {
  width: 2.81481481rem;
  height: 0.09259259rem;
  background: gray;
  display: block;
  position: absolute;
  top: 22%;
}
