.main {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #e52323;
  color: #ffffff;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 0.98148148rem;
  width: 0.51851852rem;
  height: 0.90740741rem;
}
.center {
  width: 100%;
}
.center .status {
  width: 100%;
  height: 6.48148148rem;
  position: relative;
  background-color: #ffffff;
}
.center .status .status_img {
  width: 4.46296296rem;
  height: 6.48148148rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.center .status .status_img img {
  width: 3.03703704rem;
  height: 3.03703704rem;
}
.center .status .status_item {
  width: 12.96296296rem;
  height: 6.48148148rem;
  display: inline-block;
  position: absolute;
  left: 5.55555556rem;
}
.center .status .status_item .item_one {
  position: absolute;
  top: 1.05555556rem;
  white-space: nowrap;
}
.center .status .status_item .item_one p {
  display: inline-block;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #1a1a1a;
  position: absolute;
  top: 0;
}
.center .status .status_item .item_one p:first-child {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #1a1a1a;
}
.center .status .status_item .item_one p:last-child {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  margin-left: 3.7037037rem;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #ffa000;
}
.center .status .status_item .item_two {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  top: 2.27777778rem;
  letter-spacing: 1px;
  color: #7b7a7a;
}
.center .status .status_item .item_three {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  top: 3.51851852rem;
  letter-spacing: 1px;
  color: #7b7a7a;
}
.center .status .status_item .item_four {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  top: 4.72222222rem;
  letter-spacing: 1px;
  color: #7b7a7a;
}
.center .logistics {
  width: 100%;
  height: 6.48148148rem;
  position: relative;
  margin-top: 0.37037037rem;
}
.center .logistics .logistics_one {
  width: 7.40740741rem;
  height: 6.48148148rem;
  float: left;
  text-align: center;
}
.center .logistics .logistics_one img {
  width: 1.16666667rem;
  height: 1.16666667rem;
}
.center .logistics .logistics_one .circle span {
  width: 0.55555556rem;
  height: 0.55555556rem;
  display: inline-block;
  background-color: #e52323;
  border-radius: 100%;
}
.center .logistics .logistics_one .sendstaus {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
}
.center .logistics .logistics_one .time {
  font-family: MicrosoftYaHei;
  font-size: 0.55555556rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
}
.center .logistics .logistics_two {
  width: 7.40740741rem;
  height: 6.48148148rem;
  float: right;
  text-align: center;
}
.center .logistics .logistics_two img {
  width: 1.24074074rem;
  height: 1.16666667rem;
}
.center .logistics .logistics_two .circle span {
  width: 0.55555556rem;
  height: 0.55555556rem;
  display: inline-block;
  background-color: #ffccc9;
  border-radius: 100%;
}
.center .logistics .logistics_two .sendstaus {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #787878;
}
.line {
  width: 12.22222222rem;
  height: 1px;
  background: #ffccc9;
  position: absolute;
  left: 3.88888889rem;
  top: 1.94444444rem;
}
