html,
body {
  background-color: #ffffff;
}
.main {
  width: 100%;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  background-color: #FFFFFF;
  color: #2a2a2a;
  border-bottom: 1px solid gainsboro;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 0.98148148rem;
  width: 0.51851852rem;
  height: 0.90740741rem;
}
.center {
  width: 100%;
}
.content {
  width: 100%;
}
.content .points {
  width: 100%;
  height: 5.55555556rem;
  padding-top: 1.48148148rem;
  background-color: #ffffff;
  text-align: center;
}
.content .todaypoint {
  width: 100%;
  height: 4.44444444rem;
}
.content .todaypoint_one {
  width: 100%;
  height: 2.22222222rem;
  background: #F5F5F5;
  position: relative;
}
.content .todaypoint_one p {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0.37037037rem;
  left: 0.55555556rem;
}
.content .todaypoint_two {
  width: 100%;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  position: relative;
  background-color: #ffffff;
}
.content .todaypoint_two p {
  display: inline;
  text-align: left;
  position: absolute;
  left: 0.55555556rem;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
}
.content .todaypoint_two span {
  display: inline;
  position: absolute;
  text-align: right;
  font-family: MicrosoftYaHei;
  font-size: 0.55555556rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #787878;
  right: 0.37037037rem;
}
.content .points p:first-child {
  font-family: MicrosoftYaHei;
  font-size: 1.64814815rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.07407407rem;
  color: #e52323;
}
.content .points p:last-child {
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #2a2a2a;
}
.content .cumulativepoint {
  width: 100%;
  height: 4.44444444rem;
}
.content .cumulativepoint .todaypoint_one {
  width: 100%;
  height: 2.22222222rem;
  background: #F5F5F5;
  position: relative;
}
.content .cumulativepoint .todaypoint_one p {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0.37037037rem;
  left: 0.55555556rem;
}
.content .cumulativepoint .todaypoint_two {
  width: 100%;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  position: relative;
}
.content .cumulativepoint .todaypoint_two p {
  display: inline;
  text-align: left;
  position: absolute;
  left: 0.55555556rem;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
}
.content .cumulativepoint .todaypoint_two span {
  display: inline;
  position: absolute;
  text-align: right;
  font-family: MicrosoftYaHei;
  font-size: 0.55555556rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #787878;
  right: 0.37037037rem;
}
.content .cumulativepoint .points p:first-child {
  font-family: MicrosoftYaHei;
  font-size: 1.64814815rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.07407407rem;
  color: #e52323;
}
.content .cumulativepoint .points p:last-child {
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #2a2a2a;
}
