@rem:54rem;
.main{
    width: 100%;
  
}
img{
    width: 100%;
    height: 100%;
}
.order{
    width: 100%;
    height: 144/@rem;
    position: relative;
    text-align: center;
    line-height: 144/@rem;
    font-size: 48/@rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 2/@rem;
    color: #2a2a2a;
    background-color: #e52323;
    color: #ffffff;
}

.order span img{
    font-family: MicrosoftYaHei;
    font-size: 40/@rem;
    letter-spacing: 2/@rem;
    color: #ffffff;
    position: absolute;
    top:30%;
    left: 53/@rem;
    width: 28/@rem;
    height: 49/@rem;
}
.center{
    width: 100%;
}

.center .status{
    width: 100%;
    height: 350/@rem;
    position: relative;
    background-color: #ffffff;
}
.center .status .status_img{
    width: 241/@rem;
    height: 350/@rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   
}
.center .status .status_img img{
    width: 164/@rem;
    height: 164/@rem;
}
.center .status .status_item{
    width: 700/@rem;
    height: 350/@rem;
    display: inline-block;
    position: absolute;
    left: 300/@rem;
   
}
.center .status .status_item .item_one{
    position: absolute;
    top: 57/@rem;
    white-space: nowrap;
}
.center .status .status_item .item_one p{
    display: inline-block;
    font-family: MicrosoftYaHei;
    font-size: 40/@rem;
    font-weight: normal;
    font-stretch: normal;
   
    letter-spacing: 2/@rem;
    color: #1a1a1a;
    position: absolute;
    top: 0;
}
.center .status .status_item .item_one p:first-child{
    font-family: MicrosoftYaHei;
    font-size: 40/@rem;
    font-weight: normal;
    font-stretch: normal;
 
    letter-spacing: 2px;
    color: #1a1a1a;
}
.center .status .status_item .item_one p:last-child{
    font-family: MicrosoftYaHei;
    font-size: 40/@rem;
    font-weight: normal;
    margin-left: 200/@rem;
    font-stretch: normal;
    
    letter-spacing: 2/@rem;
    color: #ffa000;
}
.center .status .status_item .item_two{
 
    font-family: MicrosoftYaHei;
    font-size: 36/@rem;
    font-weight: normal;
    font-stretch: normal;
     position: absolute;
     top: 123/@rem;
    letter-spacing: 1px;
    color: #7b7a7a;
}
.center .status .status_item .item_three{
    font-family: MicrosoftYaHei;
    font-size: 36/@rem;
    font-weight: normal;
    font-stretch: normal;
     position: absolute;
     top: 190/@rem;
    letter-spacing: 1px;
    color: #7b7a7a;
}
.center .status .status_item .item_four{
    font-family: MicrosoftYaHei;
    font-size: 36/@rem;
    font-weight: normal;
    font-stretch: normal;
     position: absolute;
     top: 255/@rem;
    letter-spacing: 1px;
    color: #7b7a7a;
}

.center .logistics{
    width: 100%;
    height: 350/@rem;
    position: relative;
    margin-top: 20/@rem;
}

.center .logistics .logistics_one{
    width: 400/@rem;
    height: 350/@rem;
    float: left;
    text-align: center;
}
.center .logistics .logistics_one img{
    width: 63/@rem;
    height: 63/@rem;
}
.center .logistics .logistics_one .circle span{
    width: 30/@rem;
    height: 30/@rem;
    display: inline-block;
    background-color: #e52323;
    border-radius: 100%;
}
.center .logistics .logistics_one .sendstaus{
    font-family: MicrosoftYaHei;
    font-size: 36/@rem;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: 1px;
    color: #e52323;
}
.center .logistics .logistics_one .time{
    font-family: MicrosoftYaHei;
    font-size: 30/@rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #e52323;
}
.center .logistics .logistics_two{
    width: 400/@rem;
    height: 350/@rem;
    float: right;
    text-align: center;
}
.center .logistics .logistics_two img{
    width: 67/@rem;
    height: 63/@rem;
}
.center .logistics .logistics_two .circle span{
    width: 30/@rem;
    height: 30/@rem;
    display: inline-block;
    background-color: #ffccc9;
    border-radius: 100%;
}
.center .logistics .logistics_two .sendstaus{
    font-family: MicrosoftYaHei;
    font-size: 36/@rem;
    font-weight: normal;
    font-stretch: normal;
  
    letter-spacing: 1px;
    color: #787878;
}
.line{
    width: 660/@rem;
    height: 1px;
    background:#ffccc9;
    position: absolute;
    left: 210/@rem;
    top: 105/@rem;
}
.center .content .headportrait{
    width: 100%;
    height: 173/@rem;
    line-height: 173/@rem;
    background-color: #ffffff;
    position: relative;
}
.center .content .headportrait div{
    float: right;
}
.center .content .headportrait .head_title{
    float: left;
    margin-left: 30/@rem;
}
.center .content .headportrait .head_pic{
    width: 117/@rem;
    height: 116/@rem;
    line-height: 116/@rem;
    text-align: center;
    margin-top: 10/@rem;
    position: absolute;
    right: 87/@rem;
    top: 19/@rem;
}
.center .content .headportrait .head_next{
    width: 22/@rem;
    height: 42/@rem;
    position: absolute;
    right: 36/@rem;
    top: 0/@rem;
}


.center .content .nickname{
    width: 100%;
    height: 173/@rem;
    line-height: 173/@rem;
    background-color: #ffffff;
    position: relative;
}
.center .content .nickname div{
    float: right;
}
.center .content .nickname .head_title{
    float: left;
    margin-left: 30/@rem;
}
.center .content .nickname .head_pic{
    width: 117/@rem;
    height: 116/@rem;
    line-height: 116/@rem;
    text-align: center;
    margin-top: 10/@rem;
    position: absolute;
    right: 87/@rem;
    top: 19/@rem;
}
.center .content .nickname .head_next{
    width: 22/@rem;
    height: 42/@rem;
    position: absolute;
    right: 36/@rem;
    top: 0/@rem;
}


.center .content .sex{
    width: 100%;
    height: 173/@rem;
    line-height: 173/@rem;
    background-color: #ffffff;
    position: relative;
//  border-bottom: 5px solid #F5F5F5;
}
.center .content .sex div{
    float: right;
}
.center .content .sex .head_title{
    float: left;
    margin-left: 30/@rem;
}
.center .content .sex .head_pic{
    width: 117/@rem;
    height: 116/@rem;
    line-height: 116/@rem;
    text-align: right;
    margin-top: 10/@rem;
    position: absolute;
    right: 87/@rem;
    top: 19/@rem;
}
.center .content .sex .head_next{
    width: 22/@rem;
    height: 42/@rem;
    position: absolute;
    right: 36/@rem;
    top: 0/@rem;
}

.center .content .phonenumber{
    width: 100%;
    height: 173/@rem;
    line-height: 173/@rem;
    background-color: #ffffff;
    position: relative;
    margin-top: 30/@rem;
}
.center .content .phonenumbe div{
    float: right;
}
.center .content .phonenumber .head_title{
    float: left;
    margin-left: 30/@rem;
}
.center .content .phonenumber .head_pic{
    width: 407/@rem;
    height: 116/@rem;
    line-height: 116/@rem;
    text-align: right;
    margin-top: 10/@rem;
    position: absolute;
    right: 87/@rem;
    top: 19/@rem;
}
.center .content .phonenumber .head_next{
    width: 22/@rem;
    height: 42/@rem;
    position: absolute;
    right: 36/@rem;
    top: 0/@rem;
}

.center .content .integral{
    width: 100%;
    height: 173/@rem;
    line-height: 173/@rem;
    background-color: #ffffff;
    position: relative;
}
.center .content .integral div{
    float: right;
}
.center .content .integral .head_title{
    float: left;
    margin-left: 30/@rem;
}
.center .content .integral .head_pic{
    width: 117/@rem;
    height: 116/@rem;
    line-height: 116/@rem;
    text-align: center;
    margin-top: 10/@rem;
    position: absolute;
    right: 87/@rem;
    top: 19/@rem;
}
.center .content .integral .head_next{
    width: 22/@rem;
    height: 42/@rem;
    position: absolute;
    right: 36/@rem;
    top: 0/@rem;
}

.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom:0;
    right: 0;
    top: 0;
    background: black;
    opacity: 0.5;
    
    z-index: 100;
}

.changesex{
    position: fixed;
    left: 76/@rem;
    width: 928/@rem;
    height: 300/@rem;
    background-color: #ffffff;
    border-radius: 14/@rem;
    border: solid 1px #cccccc;
    z-index: 101;
    top: 800/@rem;
}
.changesex div{
    width: 100%;
    height: 100/@rem;
    text-align: center;
    line-height: 100/@rem;
    font-size: 34/@rem;
}
.changesex div:first-child{
    background: #F5F5F5;
    font-size: 40/@rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #2a2a2a;
    position: relative;
}
.changesex div:last-child{
    font-size: 34/@rem;
    font-weight: normal;
    font-stretch: normal;
    
    letter-spacing: 0px;
    color: #e52323;
}
.changesex div:first-child p{
    font-size: 40/@rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #e52323;
    display: inline-block;
     position: absolute;
     right:20/@rem;
}
