.main {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.main header {
  background-color: #e52323;
  height: 2.66666667rem;
  line-height: 2.66666667rem;
}
.main .mui-title {
  color: #FFFFFF;
  font-size: 0.96296296rem;
  height: 2.66666667rem;
  line-height: 2.66666667rem;
  font-family: MicrosoftYaHei;
  font-weight: normal;
  font-stretch: normal;
}
.main header a {
  color: white;
  height: 2.66666667rem;
  display: block;
  width: 1.85185185rem;
  padding-top: 0.2962963rem;
}
.mui-bar .mui-icon {
  padding-top: 0.74074074rem;
}
.main .center {
  padding-top: 2.66666667rem;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #e52323;
  color: #ffffff;
}
.order span {
  width: 0.7037037rem;
  height: 1.09259259rem;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 0.98148148rem;
  width: 0.51851852rem;
  height: 0.90740741rem;
}
.center {
  width: 100%;
}
.center .status {
  width: 100%;
  height: 6.48148148rem;
  position: relative;
  background-color: #ffffff;
}
.center .status .status_img {
  width: 4.46296296rem;
  height: 6.48148148rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.center .status .status_img img {
  width: 3.03703704rem;
  height: 3.03703704rem;
}
.center .status .status_item {
  width: 12.96296296rem;
  height: 6.48148148rem;
  display: inline-block;
  position: absolute;
  left: 5.55555556rem;
}
.center .status .status_item .item_one {
  position: absolute;
  top: 1.05555556rem;
  white-space: nowrap;
}
.center .status .status_item .item_one p {
  display: inline-block;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #1a1a1a;
  position: absolute;
  top: 0;
}
.center .status .status_item .item_one p:first-child {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #1a1a1a;
}
.center .status .status_item .item_one p:last-child {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  margin-left: 3.7037037rem;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #ffa000;
}
.center .status .status_item .item_two {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  top: 2.27777778rem;
  letter-spacing: 1px;
  color: #7b7a7a;
}
.center .status .status_item .item_three {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  top: 3.51851852rem;
  letter-spacing: 1px;
  color: #7b7a7a;
}
.center .status .status_item .item_four {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  top: 4.72222222rem;
  letter-spacing: 1px;
  color: #7b7a7a;
}
.center .logistics {
  width: 100%;
  height: 6.48148148rem;
  position: relative;
  margin-top: 0.37037037rem;
}
.center .logistics .logistics_one {
  width: 7.40740741rem;
  height: 6.48148148rem;
  float: left;
  text-align: center;
}
.center .logistics .logistics_one img {
  width: 1.16666667rem;
  height: 1.16666667rem;
}
.center .logistics .logistics_one .circle span {
  width: 0.55555556rem;
  height: 0.55555556rem;
  display: inline-block;
  background-color: #e52323;
  border-radius: 100%;
}
.center .logistics .logistics_one .sendstaus {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
}
.center .logistics .logistics_one .time {
  font-family: MicrosoftYaHei;
  font-size: 0.55555556rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
}
.center .logistics .logistics_two {
  width: 7.40740741rem;
  height: 6.48148148rem;
  float: right;
  text-align: center;
}
.center .logistics .logistics_two img {
  width: 1.24074074rem;
  height: 1.16666667rem;
}
.center .logistics .logistics_two .circle span {
  width: 0.55555556rem;
  height: 0.55555556rem;
  display: inline-block;
  background-color: #ffccc9;
  border-radius: 100%;
}
.center .logistics .logistics_two .sendstaus {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #787878;
}
.line {
  width: 12.22222222rem;
  height: 1px;
  background: #ffccc9;
  position: absolute;
  left: 3.88888889rem;
  top: 1.94444444rem;
}
.center .content .headportrait {
  width: 100%;
  height: 3.2037037rem;
  line-height: 3.2037037rem;
  background-color: #ffffff;
  position: relative;
}
.center .content .headportrait div {
  float: right;
}
.center .content .headportrait .head_title {
  float: left;
  margin-left: 0.55555556rem;
}
.center .content .headportrait .head_pic {
  width: 2.16666667rem;
  height: 2.14814815rem;
  line-height: 2.14814815rem;
  text-align: center;
  margin-top: 0.18518519rem;
  position: absolute;
  right: 1.61111111rem;
  top: 0.35185185rem;
}
.center .content .headportrait .head_next {
  width: 0.40740741rem;
  height: 0.77777778rem;
  position: absolute;
  right: 0.66666667rem;
  top: 0rem;
}
.center .content .nicknames {
  width: 100%;
  height: 3.2037037rem;
  line-height: 3.2037037rem;
  background-color: #ffffff;
  position: relative;
}
.center .content .nicknames div {
  float: right;
}
.center .content .nicknames .head_title {
  float: left;
  margin-left: 0.55555556rem;
}
.center .content .nicknames .head_pic {
  width: 2.16666667rem;
  height: 2.14814815rem;
  line-height: 2.14814815rem;
  text-align: center;
  margin-top: 0.18518519rem;
  position: absolute;
  right: 1.61111111rem;
  top: 0.35185185rem;
}
.center .content .nicknames .head_next {
  width: 0.40740741rem;
  height: 0.77777778rem;
  position: absolute;
  right: 0.66666667rem;
  top: 0rem;
}
.center .content .sexs {
  width: 100%;
  height: 3.2037037rem;
  line-height: 3.2037037rem;
  background-color: #ffffff;
  position: relative;
}
.center .content .sexs div {
  float: right;
}
.center .content .sexs .head_title {
  float: left;
  margin-left: 0.55555556rem;
}
.center .content .sexs .head_pic {
  width: 2.16666667rem;
  height: 2.14814815rem;
  line-height: 2.14814815rem;
  text-align: right;
  margin-top: 0.18518519rem;
  position: absolute;
  right: 1.61111111rem;
  top: 0.35185185rem;
}
.center .content .sexs .head_next {
  width: 0.40740741rem;
  height: 0.77777778rem;
  position: absolute;
  right: 0.66666667rem;
  top: 0rem;
}
.center .content .phonenumbers {
  width: 100%;
  height: 3.2037037rem;
  line-height: 3.2037037rem;
  background-color: #ffffff;
  position: relative;
  margin-top: 0.55555556rem;
}
.center .content .phonenumbes div {
  float: right;
}
.center .content .phonenumbers .head_title {
  float: left;
  margin-left: 0.55555556rem;
}
.center .content .phonenumbers .head_pic {
  width: 7.53703704rem;
  height: 2.14814815rem;
  line-height: 2.14814815rem;
  text-align: right;
  margin-top: 0.18518519rem;
  position: absolute;
  right: 1.61111111rem;
  top: 0.35185185rem;
}
.center .content .phonenumbers .head_next {
  width: 0.40740741rem;
  height: 0.77777778rem;
  position: absolute;
  right: 0.66666667rem;
  top: 0rem;
}
.center .content .integral {
  width: 100%;
  height: 3.2037037rem;
  line-height: 3.2037037rem;
  background-color: #ffffff;
  position: relative;
}
.center .content .integral div {
  float: right;
}
.center .content .integral .head_title {
  float: left;
  margin-left: 0.55555556rem;
}
.center .content .integral .head_pic {
  width: 2.16666667rem;
  height: 2.14814815rem;
  line-height: 2.14814815rem;
  text-align: center;
  margin-top: 0.18518519rem;
  position: absolute;
  right: 1.61111111rem;
  top: 0.35185185rem;
}
.center .content .integral .head_next {
  width: 0.40740741rem;
  height: 0.77777778rem;
  position: absolute;
  right: 0.66666667rem;
  top: 0rem;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: black;
  opacity: 0;
  z-index: -1;
}
.changesex {
  position: fixed;
  left: 1.40740741rem;
  width: 17.18518519rem;
  height: 5.55555556rem;
  background-color: #ffffff;
  border-radius: 0.25925926rem;
  border: solid 1px #cccccc;
  z-index: 101;
  top: 14.81481481rem;
  opacity: 0;
}
.changesex {
  width: 17.18518519rem;
  height: 5.55555556rem;
  text-align: center;
  position: fixed;
  left: 1.40740741rem;
  font-size: 0.62962963rem;
}
.changesex .sex {
  width: 100%;
  height: 1.85185185rem;
  background: #F5F5F5;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #2a2a2a;
  line-height: 1.85185185rem;
  display: block;
  text-align: center;
}
.changesex .sex div:first-child {
  width: 1.85185185rem;
  height: 1.85185185rem;
  background: #F5F5F5;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #2a2a2a;
  line-height: 1.85185185rem;
  display: inline-block;
  margin-left: 3.14814815rem;
}
#sexsure {
  width: 2.96296296rem;
  height: 1.85185185rem;
  line-height: 1.85185185rem;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #e52323;
  float: right;
  margin-right: 0.18518519rem;
}
.changesex .girl {
  width: 100%;
  height: 1.85185185rem;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.85185185rem;
  letter-spacing: 0px;
}
.changesex .changecolor {
  color: #e52323;
}
.changenumber {
  width: 17.22222222rem;
  height: 10.55555556rem;
  position: fixed;
  left: 1.40740741rem;
  top: 11.11111111rem;
  z-index: -100;
  opacity: 0;
}
.changenumber .numreplace {
  height: 2.14814815rem;
  width: 100%;
  background: #f5f5f5;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #2a2a2a;
  text-align: center;
  line-height: 2.14814815rem;
}
.changenumber .surealter {
  width: 100%;
  height: 2.37037037rem;
  background-color: #e52323;
  font-family: MicrosoftYaHei;
  font-size: 0.85185185rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  line-height: 2.22222222rem;
}
.changenumber .phonenum {
  width: 100%;
  height: 5.55555556rem;
  background: white;
}
.changenumber .phonenum .phonenumitem {
  width: 100%;
  height: 2.77777778rem;
  padding-top: 0.74074074rem;
}
.changenumber .phonenum .phonenumitem div:first-child {
  width: 1.11111111rem;
  height: 1.2962963rem;
  line-height: 0.92592593rem;
  white-space: nowrap;
  display: inline-block;
  font-family: MicrosoftYaHei;
  font-size: 0.59259259rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #1f1f1f;
  margin-left: 3.01851852rem;
  margin-top: -0.27777778rem;
}
.changenumber .phonenum .phonenumitem div:last-child {
  width: 9.25925926rem;
  height: 1.48148148rem;
  display: inline-block;
  float: right;
  margin-right: 3rem;
}
.changenumber .phonenum .phonenumitem div:last-child input {
  padding: 0;
  margin: 0;
  width: 9.25925926rem;
  height: 1.2962963rem;
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.2962963rem;
  letter-spacing: 0px;
  color: #666666;
  border: none;
}
.changenumber .phonenum .phonenumitem .getcode {
  width: 100%;
  height: 1.2962963rem;
}
.changenumber .phonenum .getcode .code {
  float: right;
  display: inline-block;
  width: 4.2962963rem;
  height: 1.07407407rem;
  line-height: 1.07407407rem;
  margin-top: 0.11111111rem;
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  text-align: center;
  letter-spacing: 0px;
  color: #ffa000;
  background-color: #ffffff;
  border-radius: 0.14814815rem;
  border: solid 0.03703704rem #ffa000;
  margin-right: 2.22222222rem;
}
.changenumber .phonenum .getcode input {
  display: inline-block;
  width: 7.96296296rem;
  height: 1.07407407rem;
  line-height: 1.07407407rem;
  padding: 0;
  margin: 0;
  margin-left: 2.22222222rem;
  border: none;
  border-bottom: 1px solid darkgray;
}
.changenickname {
  width: 17.18518519rem;
  height: 5.33333333rem;
  background-color: #ffffff;
  position: fixed;
  top: 12.96296296rem;
  left: 1.40740741rem;
  z-index: -101;
  opacity: 0;
  border-radius: 0.37037037rem 0.37037037rem 0.37037037rem 0.37037037rem;
}
.changenickname .nickname {
  width: 100%;
  margin-top: 0.18518519rem;
  height: 2.22222222rem;
  background: #F5F5F5;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.22222222rem;
  letter-spacing: 0px;
  color: #1f1f1f;
  position: relative;
}
.changenickname .nickname div {
  border: none;
}
.changenickname .nickname p {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline;
  letter-spacing: 0px;
  color: #e52323;
  position: absolute;
  right: 0.55555556rem;
}
.changenickname .nickname .input_input {
  width: 11.11111111rem;
  height: 2.22222222rem;
  border: none;
}
.changenickname .nickname .input_input input {
  height: 2.22222222rem;
  width: 9.25925926rem;
  padding-left: 1.11111111rem;
  border: none;
}
