.main {
  width: 100%;
}
body,
html {
  background-color: #ffffff;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #ffffff;
}
.order_one {
  width: 0.51851852rem;
  height: 0.88888889rem;
  position: absolute;
  top: 0.88888889rem;
  left: 0.85185185rem;
}
.evalute {
  width: 100%;
  height: 12.96296296rem;
}
.evalute .fruit {
  width: 100%;
  height: 3.33333333rem;
  position: relative;
  border-top: 0.25925926rem solid #f5f5f5;
  background-color: #ffffff;
}
.evalute .fruit .fruit_one img {
  width: 2.07407407rem;
  height: 2.07407407rem;
  position: absolute;
  left: 0.77777778rem;
  top: 0.37037037rem;
}
.evalute .fruit .fruit_two {
  font-family: MicrosoftYaHei;
  position: absolute;
  left: 0.92592593rem;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  left: 3.27777778rem;
  top: 0.55555556rem;
  color: #2a2a2a;
}
.evalute .fruit .fruit_two p {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #e52323;
  height: 0;
}
.evalute .publicevalute {
  width: 100%;
  height: 9.25925926rem;
  position: relative;
  background-color: #ffffff;
}
#texta {
  width: 19.11111111rem;
  height: 4.44444444rem;
  background-color: #ffffff;
  border: solid 0.03703704rem #eaeaea;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #7b7a7a;
  padding: 0;
  margin: 0;
  margin: 0 0.44444444rem;
  padding: 0.18518519rem;
}
.evalute .picevalute {
  width: 100%;
  height: 5.55555556rem;
  background: #FFFFFF;
}
.evalute .picevalute .fileUploadContent {
  width: auto;
  height: 6.48148148rem;
}
.evalute .picevalute .fileUploadContent .box {
  height: 2.96296296rem;
  width: auto;
  float: left;
  display: inline-block;
  margin-top: 0.92592593rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /*position: relative;*/
}
.evalute .picevalute .fileUploadContent .fileItem .pic_delete {
  width: 0.92592593rem;
  height: 0.92592593rem;
  position: absolute;
  top: -0.27777778rem;
  right: -0.27777778rem;
  z-index: 100;
}
.evalute .picevalute .fileUploadContent .fileItem {
  border: solid thin #DDDDDD;
  width: 2.96296296rem;
  height: 2.96296296rem;
  position: relative;
  display: inline-block;
  float: right;
  border-radius: 0.09259259rem;
  vertical-align: middle;
  border: none;
  margin-left: 0.18518519rem;
}
.evalute .picevalute .fileUploadContent .uploadBts {
  width: 2.96296296rem;
  height: 2.96296296rem;
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 0.92592593rem;
  margin-left: 0.37037037rem;
}
.evalute .picevalute .fileUploadContent .uploadBts .selectFileBt {
  border: none;
  position: absolute;
  width: 2.96296296rem;
  height: 2.96296296rem;
  top: 0;
  left: 0;
  cursor: pointer;
  display: inline-block;
}
.evalute .publicevalute .picevaluteone {
  width: 100%;
  height: 0.92592593rem;
}
.evalute .publicevalute .picevaluteone p {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #2a2a2a;
  position: absolute;
  left: 0.55555556rem;
  padding: 0;
}
.evalute .publicevalute .picevaluteone span {
  font-family: MicrosoftYaHei;
  font-size: 0.55555556rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #787878;
  position: absolute;
  left: 5.55555556rem;
}
.evalute .shopevalute {
  width: 100%;
  height: 5.55555556rem;
}
.evalute .shopevalute .shopevalute_item {
  width: 100%;
  height: 3.7037037rem;
  background: #f5f5f5;
}
.evalute .shopevalute .shopevalute_item p {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  margin-top: 0.92592593rem;
}
.evalute .shopevalute .shopevalute_descrie {
  width: 100%;
  height: 2.77777778rem;
  position: relative;
}
.evalute .shopevalute .shopevalute_descrie .star {
  position: absolute;
  left: 4.25925926rem;
  width: 7.40740741rem;
  height: 2.77777778rem;
}
.evalute .shopevalute .shopevalute_descrie ul {
  width: 100%;
  height: 100%;
}
.evalute .shopevalute .shopevalute_descrie ul li {
  float: left;
  margin-left: 0.46296296rem;
  width: 0.85185185rem;
  margin-top: 0.55555556rem;
  height: 0.85185185rem;
}
.evalute .shopevalute .shopevalute_descrie img {
  width: 0.85185185rem;
  height: 0.85185185rem;
  display: inline;
  margin-left: 0.18518519rem;
}
.evalute .shopevalute .shopevalute_descrie p {
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #2a2a2a;
  position: absolute;
  left: 0.55555556rem;
  top: 0.74074074rem;
}
.main .publish {
  width: 100%;
  height: 2.59259259rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
}
.main .publish .publish_one img {
  width: 0.66666667rem;
  height: 0.64814815rem;
  position: absolute;
  left: 0.44444444rem;
  top: 1.11111111rem;
}
.main .publish_one p {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #7b7a7a;
  position: absolute;
  left: 1.48148148rem;
  top: 0.74074074rem;
}
.main .publish_two {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.81481481rem;
  height: 2.22222222rem;
  background-color: #e52323;
  font-family: MicrosoftYaHei;
  font-size: 0.85185185rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.22222222rem;
  text-align: center;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  top: 0.18518519rem;
}
