.main {
  width: 100%;
}
.main .mui-bar a {
  width: 0.94444444rem;
  height: 0.90740741rem;
  position: absolute;
  top: 25%;
  right: 0.37037037rem;
}
.main .mui-bar img {
  width: 0.94444444rem;
  height: 0.90740741rem;
  position: absolute;
  top: 0.18518519rem;
  right: 0.37037037rem;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #e52323;
  color: #ffffff;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
}
.person {
  width: 20rem;
  height: 8.77777778rem;
  background-color: #e52323;
  position: relative;
}
.person .person_login {
  background: none;
  width: 100%;
  height: 100%;
}
.person .person_login .nologin {
  background: url(../img/shouye_xinxianshuiguo.png) no-repeat;
  background-size: 100%;
  border-radius: 100%;
}
.pleaselogin {
  width: 6.33333333rem;
  height: 1.48148148rem;
  background-color: #ffffff;
  border-radius: 0.18518519rem;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.48148148rem;
  letter-spacing: 0.03703704rem;
  color: #e52323;
  text-align: center;
  position: absolute;
  left: 7.12962963rem;
  top: 75%;
}
.person .person_login .havelogin {
  width: 3.74074074rem;
  height: 3.74074074rem;
  background: none;
  position: absolute;
  left: 8.18518519rem;
  top: 0.92592593rem;
  background: url(../img/t01e462d459da144398.jpg) no-repeat;
  background-size: 100%;
  border-radius: 100%;
}
.person .person_login .name {
  width: 9.31481481rem;
  height: 1.11111111rem;
  background: none;
  position: absolute;
  left: 8.5rem;
  top: 5.18518519rem;
}
.person .person_login .name .name_one {
  width: 2.40740741rem;
  height: 0.88888889rem;
  display: inline;
  background-color: #e52323;
  border-radius: 0.11111111rem;
  font-family: MicrosoftYaHei-Bold;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  text-align: center;
  line-height: 0.88888889rem;
  white-space: nowrap;
  letter-spacing: 2px;
  color: #ffffff;
}
.person .person_login .name .name_two {
  width: 2.40740741rem;
  height: 0.74074074rem;
  background-color: #f13231;
  border-radius: 6px;
  display: inline;
  font-family: MicrosoftYaHei;
  font-size: 0.55555556rem;
  white-space: nowrap;
  letter-spacing: 0px;
  color: #ffa000;
}
.person .person_login .descrie {
  width: 7.03703704rem;
  height: 0.64814815rem;
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.11111111rem;
  letter-spacing: 1px;
  color: #fefefe;
  background: none;
  text-align: center;
  position: absolute;
  left: 6.98148148rem;
  top: 75%;
  white-space: nowrap;
}
.person .myorder {
  width: 100%;
  height: 1.88888889rem;
  position: relative;
  background-color: #ffffff;
}
.person .myorder .myorder_one {
  width: 0.74074074rem;
  height: 0.81481481rem;
  float: left;
  position: absolute;
  top: 0.59259259rem;
  left: 0.94444444rem;
}
.person .myorder .myorder_one_two {
  font-family: MicrosoftYaHei;
  font-size: 0.77777778rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  width: 3.27777778rem;
  height: 0.77777778rem;
  line-height: 0.77777778rem;
  float: left;
  white-space: nowrap;
  position: absolute;
  left: 2.35185185rem;
  top: 0.59259259rem;
}
#more {
  height: 100%;
  width: 2.77777778rem;
  display: inline-block;
  float: right;
  line-height: 1.88888889rem;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}
.person .myorder .myorder_one_four {
  width: 0.33333333rem;
  height: 0.59259259rem;
  float: left;
  position: absolute;
  right: 0.81481481rem;
  top: 0.64814815rem;
  margin-left: 0.18518519rem;
}
.person .ordernav {
  width: 100%;
  height: 2.96296296rem;
  background: #ffffff;
  padding-top: 0.37037037rem;
}
.person .ordernav div {
  width: 25%;
  margin-top: 0.37037037rem;
  float: left;
  text-align: center;
  color: black;
}
.person .ordernav img {
  display: block;
  margin-left: 1.85185185rem;
  width: 1.2037037rem;
  height: 0.96296296rem;
}
.person .item {
  width: 100%;
  height: 8.88888889rem;
  background: #ffffff;
  margin-top: 0.55555556rem;
}
.person .item div {
  height: 4.44444444rem;
  width: 25%;
  float: left;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 0.77777778rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: black;
  padding-top: 0.92592593rem;
}
.person .item div a {
  color: black;
}
.person .item div img {
  width: 0.85185185rem;
  height: 0.85185185rem;
  margin-left: 2.03703704rem;
  margin-bottom: 0.37037037rem;
}
