body,
html {
  background-color: white;
}
.header_title {
  width: 100%;
  height: 2.66666667rem;
  text-align: center;
  line-height: 2.66666667rem;
  position: relative;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  font-size: 0.96296296rem;
  border-bottom: 2px solid #f5f5f5;
}
.header_title span {
  position: absolute;
  width: 0.51851852rem;
  height: 0.88888889rem;
  top: 0.88888889rem;
  bottom: 0.88888889rem;
  left: 1.14814815rem;
  cursor: pointer;
}
.header_title img {
  width: 100%;
  height: 100%;
}
.register_input {
  width: 100%;
  height: auto;
  background: white;
}
.register_li {
  width: 90%;
  position: relative;
  height: 2.22222222rem;
  background: white;
  margin-left: 10%;
}
.register_input .register_li .input_input p {
  position: absolute;
  float: right;
  margin: 0;
  width: 4.40740741rem;
  padding: 0.18518519rem 0;
  border-radius: 0.37037037rem;
  border: solid 0.03703704rem #e52323;
  color: #e52323;
  font-size: 0.66666667rem;
  letter-spacing: 0.11111111rem;
  text-align: center;
  vertical-align: middle;
  right: -4.62962963rem;
  top: -10%;
  white-space: nowrap;
  cursor: pointer;
}
.line_register {
  width: 16.66666667rem;
  height: 0.07407407rem;
  background-color: #f5f5f5;
  margin-left: 1.66666667rem;
}
.input_input {
  width: 10.74074074rem;
  position: absolute;
  float: right;
  left: 1.61111111rem;
  top: 25%;
}
.input_input input {
  border: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 0.7037037rem;
  line-height: 0.92592593rem;
  letter-spacing: 0.11111111rem;
  color: #7b7a7a;
}
.inputimg {
  width: 0.75925926rem;
  height: 1.18518519rem;
  position: absolute;
  left: 0rem;
  top: 25%;
}
.inputimg img {
  width: 100%;
  height: 100%;
  float: left;
}
.weixin {
  width: 100%;
  height: 2.22222222rem;
  background: white;
}
.weixin p {
  width: 100%;
  position: relative;
  margin: 0;
  vertical-align: middle;
  line-height: 2.22222222rem;
}
.weixin .account_number {
  letter-spacing: 0.11111111rem;
  color: #2a2a2a;
  font-size: 0.7037037rem;
  margin-left: 6.77777778rem;
  cursor: pointer;
}
.weixin .pleaseregister {
  position: absolute;
  right: 6.81481481rem;
  float: right;
  cursor: pointer;
  color: #e52323;
}
.complete {
  background: white;
}
.complete input {
  width: 16.66666667rem;
  height: 2.07407407rem;
  background-color: #e52323;
  border-radius: 1.01851852rem;
  font-size: 0.88888889rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  margin-left: 1.66666667rem;
  margin-top: 2.77777778rem;
}
.popTips {
  position: fixed;
  opacity: 0.5;
  width: 11.11111111rem;
  height: 1.85185185rem;
  background: black;
  border-radius: 0.92592593rem;
  left: 50%;
  top: 45%;
  text-align: center;
  line-height: 1.85185185rem;
  color: white;
  margin-top: -3.33333333rem;
  margin-left: -4.62962963rem;
  display: none;
}
