html,
body {
  background: #F5F5F5;
}
.main {
  width: 100%;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.96296296rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #e52323;
  color: #ffffff;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 0.98148148rem;
  width: 0.51851852rem;
  height: 0.90740741rem;
}
.order p {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  position: absolute;
  right: 0.55555556rem;
  top: 0;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
}
.center {
  width: 100%;
}
.content {
  width: 100%;
}
.content .pic_img {
  width: 100%;
  height: 7.40740741rem;
  background-color: #e52323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .pic_img .pic {
  width: 4.09259259rem;
  height: 5.18518519rem;
  text-align: center;
  background: none;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}
.content .pic_img img {
  width: 4.09259259rem;
  height: 4.09259259rem;
  border-radius: 100%;
}
.content .income {
  width: 100%;
  height: 4.07407407rem;
  background-color: #ffffff;
  margin-bottom: 0.55555556rem;
}
.content .income div:first-child {
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  text-align: center;
  letter-spacing: 0px;
  color: #202020;
  height: 2.03703704rem;
  width: 100%;
  line-height: 2.03703704rem;
}
.content .income div:last-child {
  font-family: MicrosoftYaHei;
  font-size: 1.11111111rem;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  line-height: 2.03703704rem;
  width: 100%;
  height: 2.03703704rem;
  letter-spacing: 0px;
  color: #e63c3c;
}
.center .myincome .incomeitem {
  width: 100%;
  height: 10.37037037rem;
  background: white;
}
.center .myincome .incomeitem .withdraw {
  width: 100%;
  height: 2.22222222rem;
  border-bottom: 1px solid #F5F5F5;
}
.center .myincome .incomeitem .withdraw .withdraw_one {
  width: 3.7037037rem;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline;
  letter-spacing: 1px;
  color: #2a2a2a;
  margin-left: 0.55555556rem;
}
.center .myincome .incomeitem .withdraw .withdraw_one img {
  width: 0.83333333rem;
  height: 0.83333333rem;
  vertical-align: middle;
}
.center .myincome .incomeitem .withdraw .withdraw_two {
  float: right;
  margin-top: 0.64814815rem;
  margin-right: 0.55555556rem;
  display: inline;
}
.center .myincome .incomeitem .withdraw .withdraw_two img {
  width: 0.2962963rem;
  height: 0.55555556rem;
}
.center .myincome .incomeitem .activation {
  width: 100%;
  height: 2.22222222rem;
  border-bottom: 1px solid #F5F5F5;
}
.center .myincome .incomeitem .activation .activation_one {
  width: 3.7037037rem;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline;
  letter-spacing: 1px;
  color: #2a2a2a;
  margin-left: 0.55555556rem;
}
.center .myincome .incomeitem .activation .activation_one img {
  width: 0.83333333rem;
  height: 0.83333333rem;
  vertical-align: middle;
}
.center .myincome .incomeitem .activation .activation_two {
  float: right;
  margin-top: 0.64814815rem;
  margin-right: 0.55555556rem;
  display: inline;
}
.center .myincome .incomeitem .activation .activation_two img {
  width: 0.2962963rem;
  height: 0.55555556rem;
}
.center .myincome .incomeitem .promotioncode {
  width: 100%;
  height: 2.22222222rem;
}
.center .myincome .incomeitem .promotioncode .promotioncode_one {
  width: 3.7037037rem;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  display: inline;
  letter-spacing: 1px;
  color: #2a2a2a;
  margin-left: 0.55555556rem;
}
.center .myincome .incomeitem .promotioncode .promotioncode_one img {
  width: 0.83333333rem;
  height: 0.83333333rem;
  line-height: 0.83333333rem;
  vertical-align: middle;
}
.center .myincome .incomeitem .promotioncode .promotioncode_two {
  float: right;
  margin-top: 0.64814815rem;
  margin-right: 0.55555556rem;
  display: inline;
}
.center .myincome .incomeitem .promotioncode .promotioncode_two img {
  width: 0.2962963rem;
  height: 0.55555556rem;
}
