.main {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.order {
  width: 100%;
  height: 2.66666667rem;
  position: relative;
  text-align: center;
  line-height: 2.66666667rem;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  background-color: #e52323;
  color: #ffffff;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 0.98148148rem;
  width: 0.51851852rem;
  height: 0.90740741rem;
}
.center {
  width: 100%;
}
.main .service {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.66666667rem;
  background-color: #ffffff;
}
.service input {
  width: 11.11111111rem;
  height: 2.22222222rem;
  border: none;
  border-bottom: 1px solid grey;
  line-height: 2.77777778rem;
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 2.96296296rem;
}
.service .face {
  width: 1.55555556rem;
  height: 1.55555556rem;
  float: left;
  position: absolute;
  right: 3.14814815rem;
  top: 0.55555556rem;
}
.service .add {
  width: 1.55555556rem;
  height: 1.55555556rem;
  float: left;
  position: absolute;
  right: 0.85185185rem;
  top: 0.55555556rem;
}
.service .add img {
  border: 1px solid gray;
  border-radius: 100% 100% 100% 100%;
}
