.main {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.order {
  width: 100%;
  height: 2.6666666666666665rem;
  position: relative;
  text-align: center;
  line-height: 2.6666666666666665rem;
  font-size: 0.8888888888888888rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.037037037037037035rem;
  color: #2a2a2a;
  background-color: #e52323;
  color: #ffffff;
}
.order span img {
  font-family: MicrosoftYaHei;
  font-size: 0.7407407407407407rem;
  letter-spacing: 0.037037037037037035rem;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 0.9814814814814815rem;
  width: 0.5185185185185185rem;
  height: 0.9074074074074074rem;
}
.center {
  width: 100%;
}
.main .service_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.6666666666666665rem;
  background-color: #ffffff;
}
.service_content .service {
  width: 12.962962962962964rem;
  height: 2.074074074074074rem;
  margin-left: 0.5555555555555556rem;
  margin-top: 1.4814814814814814rem;
}
.service_content .service div:first-child {
  width: 1.7037037037037037rem;
  height: 2.074074074074074rem;
  display: inline-block;
  vertical-align: middle;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_content .service div:last-child {
  width: 9.907407407407407rem;
  height: 2.074074074074074rem;
  line-height: 2.074074074074074rem;
  background-color: #ffffff;
  border-radius: 0.5925925925925926rem 0.5925925925925926rem 0.5925925925925926rem 0.1111111111111111rem;
  display: inline-block;
  margin-left: 0.5555555555555556rem;
  font-family: MicrosoftYaHei;
  font-size: 0.6666666666666666rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.018518518518518517rem;
  padding-left: 0.2777777777777778rem;
  color: #2a2a2a;
}
.service_content .service div img {
  border-radius: 100%;
  width: 1.7037037037037037rem;
  height: 1.7037037037037037rem;
}
.service_content .user {
  width: 12.962962962962964rem;
  height: 2.074074074074074rem;
  float: right;
  margin-right: 0.5555555555555556rem;
  margin-top: 1.8518518518518519rem;
}
.service_content .user div:first-child {
  width: 1.7037037037037037rem;
  height: 2.074074074074074rem;
  display: inline-block;
  vertical-align: middle;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_content .user div:last-child {
  width: 9.907407407407407rem;
  height: 2.074074074074074rem;
  line-height: 2.074074074074074rem;
  background-color: #ffffff;
  border-radius: 0.5925925925925926rem 0.5925925925925926rem 0.5925925925925926rem 0.1111111111111111rem;
  display: inline-block;
  margin-left: 0.5555555555555556rem;
  font-family: MicrosoftYaHei;
  font-size: 0.6666666666666666rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.018518518518518517rem;
  padding-left: 0.2777777777777778rem;
  color: #2a2a2a;
}
.service_content .user div img {
  border-radius: 100%;
  width: 1.7037037037037037rem;
  height: 1.7037037037037037rem;
}
.service_nav input {
  width: 11.11111111111111rem;
  height: 2.2222222222222223rem;
  border: none;
  border-bottom: 1px solid grey;
  line-height: 2.7777777777777777rem;
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 2.962962962962963rem;
}
.service_nav .face {
  width: 1.5555555555555556rem;
  height: 1.5555555555555556rem;
  float: left;
  position: absolute;
  right: 3.1481481481481484rem;
  top: 0.5555555555555556rem;
}
.service_nav .add {
  width: 1.5555555555555556rem;
  height: 1.5555555555555556rem;
  float: left;
  position: absolute;
  right: 0.8518518518518519rem;
  top: 0.5555555555555556rem;
}
.service_nav .add img {
  border: 1px solid gray;
  border-radius: 100% 100% 100% 100%;
}
/*# sourceMappingURL=storeservice.css.map */
