p {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  overflow: hidden;
}
.evaluate {
  width: 100%;
  height: 1.62962963rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.37037037rem;
  line-height: 1.62962963rem;
  margin-top: 0.55555556rem;
  position: relative;
}
.none {
  width: 100%;
  position: relative;
}
.none .rect {
  width: 0.33333333rem;
  height: 0.66666667rem;
  background-color: #e52323;
  position: absolute;
  top: 0.74074074rem;
  left: 0;
}
.main_world .main_world_one {
  width: 100%;
  height: 3.88888889rem;
  background-color: #ffffff;
  padding: 0.37037037rem;
  position: relative;
}
.main_world .main_world_one p:first-child {
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
}
.main_world .main_world_one p:nth-child(2) {
  font-family: MicrosoftYaHei;
  font-size: 1.11111111rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.05555556rem;
  color: #e52323;
  margin-top: 0.55555556rem;
}
.main_world .main_world_one p:last-child {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #7b7a7a;
  position: absolute;
  left: 4.64814815rem;
  top: 2.22222222rem;
}
.main_world .main_world_two p {
  font-family: MicrosoftYaHei;
  font-size: 0.66666667rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.88888889rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  margin-left: 0.37037037rem;
}
.evaluate {
  padding-left: 0.18518519rem;
}
.evaluate .evaluate_one p:first-child {
  width: 100%;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #2a2a2a;
  position: absolute;
  left: 0.7962963rem;
}
.evaluate .evaluate_one p:last-child {
  font-family: MicrosoftYaHei;
  font-size: 0.51851852rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #fa9626;
  position: absolute;
  left: 3.98148148rem;
  top: 5%;
}
.evaluate_two P {
  font-family: MicrosoftYaHei;
  font-size: 0.51851852rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #7b7a7a;
  position: absolute;
  right: 0.92592593rem;
}
.evaluate_two img {
  width: 0.27777778rem;
  height: 0.5rem;
  position: absolute;
  right: 0.55555556rem;
  top: 30%;
}
.comment {
  width: 100%;
  padding: 0 0.37037037rem;
}
.comment_item {
  position: relative;
  width: 100%;
  height: 4.22222222rem;
}
.comment .comment_item .comment_one {
  width: 1.14814815rem;
  height: 1.14814815rem;
  position: absolute;
  left: 0.38888889rem;
  top: 0.37037037rem;
}
.comment .comment_two {
  width: 3.7037037rem;
  height: 0.74074074rem;
  position: relative;
}
.comment .comment_two div:nth-child(1) {
  position: absolute;
  left: 2.03703704rem;
  top: 0.37037037rem;
}
.comment .comment_two div:nth-child(2) {
  position: absolute;
  left: 3.46296296rem;
  white-space: nowrap;
  top: 0.27777778rem;
}
.comment .comment_two img {
  display: inline-block;
  width: 0.66666667rem;
  height: 0.62962963rem;
  margin-left: 0.18518519rem;
}
.comment .comment_three {
  font-family: MicrosoftYaHei;
  font-size: 0.62962963rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #787878;
  position: absolute;
  left: 2.03703704rem;
  top: 1.85185185rem;
}
.comment_four p {
  font-size: 0.55555556rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #7b7a7a;
  position: absolute;
  left: 2.03703704rem;
  top: 2.96296296rem;
}
.comment_four img {
  width: 0.37037037rem;
  height: 0.37037037rem;
  position: absolute;
  left: 5.12962963rem;
  top: 3.33333333rem;
}
#bagr_pic {
  width: 100%;
  height: 2.66666667rem;
  background: #e52323;
  position: absolute;
  top: 0;
  left: 0;
}
.main .detail {
  width: 100%;
  height: 2.66666667rem;
  background: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 2.66666667rem;
  font-family: MicrosoftYaHei;
  font-size: 0.96296296rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  z-index: 100;
  background: linear-gradient(#000000, transparent);
}
.main .detail .detail_one {
  width: 1.37037037rem;
  height: 1.37037037rem;
  position: absolute;
  left: 1.14814815rem;
  top: 0.74074074rem;
  border-radius: 50%;
}
.main .detail .detail_two {
  width: 1.37037037rem;
  height: 1.37037037rem;
  position: absolute;
  right: 2.77777778rem;
  top: 0.74074074rem;
  border-radius: 50%;
}
.main .detail .detail_two img:first-child {
  width: 1.37037037rem;
  height: 1.37037037rem;
}
.none {
  width: 100%;
  height: 2.22222222rem;
  text-align: left;
  line-height: 2.22222222rem;
  letter-spacing: 1px;
  color: #2a2a2a;
  padding-left: 0.55555556rem;
  font-family: MicrosoftYaHei;
  font-size: 0.7037037rem;
}
.tablebar {
  position: fixed;
  width: 20rem;
  height: 2.66666667rem;
  z-index: 104;
  left: 0;
  bottom: 0;
}
.tablebar .tablebar_one {
  width: 5.61111111rem;
  height: 2.66666667rem;
  display: inline-block;
  text-align: center;
  position: relative;
  line-height: 2.66666667rem;
}
.tablebar .tablebar_one img {
  width: 1.09259259rem;
  height: 1.01851852rem;
  position: absolute;
  left: 2.25925926rem;
  top: 0.35185185rem;
}
.tablebar .tablebar_one p {
  position: absolute;
  font-size: 0.55555556rem;
  left: 2.25925926rem;
  top: 1.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: black;
}
.tablebar .tablebar_two {
  position: absolute;
  width: 7.2037037rem;
  height: 2.66666667rem;
  left: 5.61111111rem;
  background-color: #fa9626;
  display: inline-block;
  text-align: center;
  line-height: 2.66666667rem;
  box-sizing: border-box;
}
.tablebar .tablebar_two button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.tablebar .tablebar_three {
  width: 7.18518519rem;
  height: 2.66666667rem;
  background-color: #e52323;
  display: inline-block;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 2.66666667rem;
}
.tablebar .tablebar_three button {
  width: 100%;
  height: 100%;
  background: none;
}
#slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#slider img {
  width: 100%;
  height: 11.48148148rem;
  overflow: hidden;
}
#slider .swiper-container {
  width: 100%;
  overflow: hidden;
}
#slider .swiper-container ul.swiper-wrapper {
  width: 500%;
  -webkit-transform: translate(-20%);
  transform: translate(-20%);
}
#slider .swiper-container ul.swiper-wrapper li {
  width: 20%;
  float: left;
}
#slider .swiper-pagination {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 10.18518519rem;
  background: none;
  text-align: center;
}
#slider .swiper-pagination span {
  display: inline-block;
  width: 0.37037037rem;
  height: 0.37037037rem;
  background: grey;
  border-radius: 50%;
  margin: 0 0.18518519rem;
}
#slider .swiper-pagination span.swiper-pagination-bullet-active {
  background: #fd5e5e;
}
.buy {
  width: 100%;
  height: 13.66666667rem;
  background: white;
  position: fixed;
  left: 0;
  bottom: 2.66666667rem;
  z-index: 1000;
  display: none;
}
.buy .buy_top .fruit {
  position: absolute;
  width: 5.88888889rem;
  height: 5.88888889rem;
  top: -1.2962963rem;
  left: 1.25925926rem;
}
.buy .buy_top .price p {
  position: absolute;
}
.buy .buy_top .price p:first-child {
  height: 0.74074074rem;
  font-family: MicrosoftYaHei;
  font-size: 0.92592593rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #fa3c32;
  left: 7.64814815rem;
  top: 0.75925926rem;
}
.buy .buy_top .price p:last-child {
  left: 7.64814815rem;
  height: 0.87037037rem;
  font-family: MicrosoftYaHei;
  font-size: 0.77777778rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  top: 3.75925926rem;
}
.buy .buy_top .price p:nth-child(2) {
  height: 0.77777778rem;
  font-family: MicrosoftYaHei;
  font-size: 0.77777778rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  left: 7.64814815rem;
  top: 2.31481481rem;
}
.buy .buy_bottom {
  width: 100%;
  position: relative;
  top: 8.37037037rem;
}
.buy .buy_bottom p {
  font-family: MicrosoftYaHei;
  font-size: 0.77777778rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  padding-left: 0.44444444rem;
}
.buy .buy_bottom .buy_number .buy_input_num button {
  width: 1.66666667rem;
  height: 1.48148148rem;
  position: absolute;
  text-align: center;
  line-height: 0rem;
}
.buy .buy_bottom .buy_number .buy_input_num .reduce {
  left: 10.46296296rem;
  top: 0rem;
}
.buy .buy_bottom .buy_number .buy_input_num .add {
  right: 0.90740741rem;
  top: 0rem;
}
.buy .buy_bottom .buy_number .buy_input_num input {
  width: 4.07407407rem;
  position: absolute;
  height: 1.48148148rem;
  padding: 0;
  text-align: center;
  right: 3.2037037rem;
  top: 0;
}
.buy .buy_top .cancel {
  width: 1.11111111rem;
  height: 1.11111111rem;
  position: absolute;
  right: 0.51851852rem;
  top: 0.51851852rem;
  display: block;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  bottom: 2.66666667rem;
  opacity: 0.5;
  background: black;
  z-index: 103;
}
.shoptoast {
  position: fixed;
  top: 13.96296296rem;
  left: 4.46296296rem;
  width: 11.18518519rem;
  height: 4.22222222rem;
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 0.46296296rem;
  display: none;
}
.shoptoast img {
  position: absolute;
  width: 1.2962963rem;
  height: 1.25925926rem;
  left: 4.96296296rem;
  bottom: 2.11111111rem;
}
.shoptoast p {
  position: absolute;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 0.74074074rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  left: 1.03703704rem;
  bottom: 0.68518519rem;
}
#sureorcancel {
  width: 100%;
  height: 2.66666667rem;
  z-index: 1110;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  display: none;
  left: 0;
}
#sureorcancel .sure {
  width: 50%;
  height: 2.66666667rem;
  background: black;
  text-align: center;
  line-height: 2.66666667rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
}
#sureorcancel .cancel {
  height: 2.66666667rem;
  background: red;
  text-align: center;
  line-height: 2.66666667rem;
  letter-spacing: 0.03703704rem;
  color: #ffffff;
  position: absolute;
  right: 0;
  left: 10rem;
  bottom: 0;
}
.share {
  width: 100%;
  height: 18.03703704rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 1111;
}
.share .share_world {
  width: 100%;
  height: 0.88888889rem;
  font-family: MicrosoftYaHei;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.88888889rem;
  letter-spacing: 0.03703704rem;
  color: #2a2a2a;
  text-align: center;
  position: absolute;
  top: 1.01851852rem;
}
.share .share_item {
  width: 100%;
  height: 6.40740741rem;
  position: absolute;
  top: 3.7037037rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.share .share_item div {
  text-align: center;
  font-size: 0.7037037rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #2a2a2a;
}
.share .share_item div img {
  width: 2.96296296rem;
  height: 2.96296296rem;
  margin-bottom: 0.37037037rem;
}
.cancelshare {
  width: 6.48148148rem;
  height: 1.85185185rem;
  border-radius: 0.46296296rem;
  border: solid 0.03703704rem #7b7a7a;
  position: absolute;
  bottom: 1.01851852rem;
  left: 6.74074074rem;
  text-align: center;
  font-size: 0.88888889rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.85185185rem;
  letter-spacing: 0.03703704rem;
  color: #7b7a7a;
}
